.details-container{
    position: relative;
    padding: 10px;
    width: 90%;
    background-color: #e9e9e9;
    margin: 10px auto;

}

.center{
    text-align: center;
}

.audio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}