<div style="text-align:center" class="row">
    <div class="col-sm-4" *ngIf="!webcamImage">
      <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" [allowCameraSwitch]="allowCameraSwitch"
        [switchCamera]="nextWebcamObservable" (initError)="intializeError($event)"></webcam>
      <br />
      <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
    </div>
    <div class="snapshot col-sm-4" *ngIf="webcamImage">
      <img [src]="webcamImage.imageAsDataUrl" />
      <br>
      <br>
      <div>
        <button class="btn btn-primary" (click)="analyze()">Analyse</button>
      </div>
</div>